<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="<%= root_path %>">
      <i class="bi bi-graph-up-arrow text-warning"></i> DividendTrack
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="# ">Login</a>
        </li>
        <li class="nav-item mt-2 mt-lg-0">
          <a class="btn btn-warning" href="# p">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>